 # Copy this file to .env and replace the placeholder values.

# Email settings for OTP delivery (Gmail example)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-16-char-gmail-app-password
EMAIL_TIMEOUT=20
CONTACT_RECEIVER_EMAIL=admin@namastenomad.com
CONTACT_RECEIVER_EMAILS=ops@namastenomad.com,support@namastenomad.com

STRIPE_SECRET_KEY=sk_test_replace_with_your_real_test_secret_key
STRIPE_PUBLISHABLE_KEY=pk_test_replace_with_your_real_test_publishable_key
STRIPE_CURRENCY=npr
STRIPE_CHECKOUT_TTL_MINUTES=30
ESEWA_MERCHANT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_TEST_MODE=True
ESEWA_CURRENCY=npr

# Google OAuth (Web application credentials)
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=162435502919-7fg9ds7t26orkgkc10c38tdpofr2kdaj.apps.googleusercontent.com
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=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
# Register this exact URI in Google Cloud Console -> OAuth 2.0 Client -> Authorized redirect URIs
GOOGLE_CALLBACK_URL=http://127.0.0.1:8000/auth/google/callback
